<h2>Employee List</h2>
<div class="search-bar">
    <input type="text" placeholder="Search employees" [(ngModel)]="searchTerm">
    <button class="btn btn-primary" (click)="searchEmployees()">Search</button>
</div>
<table class="table table-dashed">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Education</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Role</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of filteredEmployees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.education}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.role}}</td>
            
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left:10px">Delete</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left:10px">View</button>
            </td>
            <td></td> <!-- Empty cell for spacing -->
        </tr>
    </tbody>
</table>
